extends ../layout/specific_layout
mixin meinMixin2(var1,...var2)
    p(class!=attributes.attr1 class!=attributes.class class=var1)
        | test #{var1}
        if block
            block
    each item in var2
        p=item

mixin meinMixin(var1,...var2)
    p(class!=attributes.attr1 class!=attributes.class class=var1)
        |test #{var1}
        if block
            block
    each item in var2
        p=item
    +meinMixin2&attributes(attributes)



block append head
    script(src='/vendor/three.js')
    script(src='/game.js')

block prepend head
    script(src='/vendor/three2.js')
    script(src='/game2.js')

append head
    script(src='/vendor/three3.js')
    script(src='/game3.js')

prepend head
    script(src='/vendor/three4.js')
    script(src='/game4.js')


block content
    //-
        Comments for your template writers.
        Use as much text as you want.
    //
      Comments for your HTML readers.
      Use as much text as you want.
    - var test="value"
    - var attributes = {"class":">moin"}
    - var classes = ['foo', 'bar', 'baz']
    - var currentUrl = '/about'
    div#bla.foo(class="<hallo#{test}" class!="<welt#{test}" class=classes class=['bing'] class={"active": currentUrl == '/about'} class={"active2": currentUrl == '/'} my-name="<Hase#{test}" my-unescaped-name!="<Hase2#{test}" my-value="Hallo "+test :vue-var="test")&attributes(attributes)
        p
            |Mehrzeiliger Text
            | Zeile zwei #{test}
        p.
            Freitext
            über mehr Zeilen #{test}
            #[em ignored]
            #[q(lang="es") ¡Hola Mundo!]
    +meinMixin("var1test"+test,1,2,3,4,"Hallo Welt #{test}")(attr1="btn")&attributes(attributes)
    +meinMixin()
        |test
    input(type='checkbox' checked)
    input(type='checkbox' checked=true)
    input(type='checkbox' checked=false)
    a(style={"color": 'red', "background": 'green'} data-test={"key":"value"} data-test2=["value1","value2",3,4])
    - var friends = 10
    case friends
        when 0
            p you have no friends
        when 1
            p you have a friend
        default
            p you have #{friends} friends
    // just some paragraphs
    p Escaping works with \#{interpolation}
    p Interpolation works with #{'#{interpolation}'} too!
    p No escaping for #{'}'}!
    //- will not output within markup
    - var user = {"description": 'foo bar baz'}
    - var authorised = false
    #user
        if user.description
            h2.green Description
            p.description= user.description
        else if authorised
            h2.blue Description
            p.description.
                User has no description,
                why not add one...
        else
            h2.red Description
            p.description User has no description
    include auxiliary/static.txt
    pre
        :verbatim:verbatim
            |test
            |text #{test}
    ul
        li.list-item: .foo: #bar baz

