- var typeint = 1
p=typeint

- var typeString = "Text"
p=typeString

- var typeDouble = 1.0
p=typeDouble

- var typeDouble2 = 1.1
p=typeDouble2

- var typeLong = 1234567891234
p=typeLong

- var typefunction = function(){return "function"}
p=typefunction()

- var typeintarray = [1,2,3,4]
p(attr=typearray)=typeintarray

- var typedoublearray = [1.0,2.2,3.3,4.4]
p(attr=typearray)=typedoublearray

- var typemixedarray = [1,2,3,4,"123"]
p(attr=typearray)=typemixedarray

- var typemap = {"key":"value","key2":"value2"}
p(style=typemap)=typemap

