doctype html
- var classes = ['foo', 'bar', 'baz']
- var tof=4
a.bang#main.bong(tuf="1" style={"color": 'red', "background": 'green'} taf=true class=classes class=['bing'] tif=3 tof=tof)&attributes({"tick":"tack","class":["blac","blic"],"bla":"1","bli":2,"blub":tof})

mixin link(href, name)
    a.bang#main2.bong(tuf="1" style={"color": 'red', "background": 'green'} taf=true class=classes class=['bing'] tif=3 tof=tof)&attributes(attributes)= name

+link('/foo','foo')(class="button" class="button2" mi="au")&attributes({"tick":"tack","class":["blac","blic"],"bla":"1","bli":2,"blub":tof})